@font-face {
	font-family: "AvenirNextLTPro-Regular";
	src: url('../fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),
	url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
	font-family: "AvenirNextLTPro-Bold";
	src: url('../fonts/AvenirNextLTPro-Bold.eot') format('embedded-opentype'),
	url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}
body {
	min-width:1280px;
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}
.toppart {
	overflow: hidden;
	margin-top: 0px !important;
	width: 100%;
	height: 810px;
	background: url(../img/background.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	margin-bottom: 80px;
}
.info {
	height: 60%;
	margin-top: 10%;
	margin-left: 53%;
	width: 30%;
	color: #fff;
}
.info h1{
	color: #555555;
	font-size: 58pt;
	font-family: AvenirNextLTPro-Bold;
	letter-spacing: 2px;
	margin-bottom: 0px;
}
.info h2{
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: AvenirNextLTPro-Regular;
	font-size: 44pt;
	color:#e01414;
}

.container div{
	width: 100%;
	display: inline;
	padding-left: 40px !important;
	padding-right: 40px;
	padding: 20px;
}

.prime a {
	text-decoration: none;
	color: #4F4F4F;
	font-family: AvenirNextLTPro-Bold;
	font-size: 14pt;
	padding-right: 60px;
}

.phone_header{
	background-image: url(../img/phone.png);
	background-position: left;
	background-repeat: no-repeat;
}

.phonering_header {
	background-image: url(../img/viber.png);
	background-position: left;
	background-repeat: no-repeat;
}

.container h3{
	padding-top: 15px;
	font-family: AvenirNextLTPro-Regular;
	font-weight: lighter;
	color: #4F4F4F;
	font-size: 22pt;
	letter-spacing: 2px;
	line-height: 36px;
}

.desciption {
	height: 200px;
}

.description_container {
	width: 1280px;
	margin: auto;
	height: 350px;
	text-align: center;
}

.gif_container {
	height: 65px;
	vertical-align: bottom;
}

.h3er {
	color: #E23737;
	font-family: AvenirNextLTPro-Bold;
	font-size: 18pt;
}

.pinfo {
	width: 92%;
	margin: auto;
	position: relative;
	color: #4F4F4F;
	font-family: AvenirNextLTPro-Regular;
	font-size: 18px;
	line-height: 24px;
	height: 90px;
	text-align: justify;
}

.pasageri {
	float: left;
	width: 50%;
}

.colete {
	float:right;
	width:50%;
}

.form{
	height: 590px;
}


.footer {
	min-width: 980px;
	width: 100%;
	height: 130px;
	background-color: #555555;
}

.footer_info{
	width: 1200px;
	text-align: center;
	margin: auto;
	padding-top: 22px;
}

.footer_info li {
	display: inline;
	color: #fff;
	padding: 10px;
	float: left;
	width: 24%;
}

.white {
	text-align: left !important;
	padding-left: 40px !important;
	line-height: 28pt;
	font-size: 14pt;
	letter-spacing: .5pt;
}

.white a {
	font-family: AvenirNextLTPro-Regular;
	text-decoration: none;
	color: #ffffff;
}

.pone{
	background-image: url(../img/icon.png);
	background-position: left;
	background-repeat: no-repeat;
}

.ponering {
	margin-top: 14px;
	background-image: url(../img/iconring.png);
	background-position: left;
	background-repeat: no-repeat;
}

.email {
	margin-top: 14px;
	background-image: url(../img/email.png);
	background-position: left;
	background-repeat: no-repeat;
}